p { 
  margin-top: 0px;
  margin-left:900px; 
  margin-right:100px;
  margin-bottom:0px;

  font-family: "Lato";
  font-size: 14px;
}

.nav .nav-row .logo {
  font-family: 'Lato', sans-serif;
  padding: 4px;
  color: #00cc66;
  font-size: 50px;
  font-weight: bold;
  margin-left: 20px;
  display: inline;
}

.nav .nav-row .col-md-3 {
  display: inline;
}

input[type=text] { width: 278px; }

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family: "Lato";
  font-size: 14px;
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px; 
  @include box-shadow(inset 0 1px 3px rgba(black, .12));

  &:focus {
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0; 
  }
}

img {
  width:100px;
  height:100px;
  padding-top: 20px;
}

td {
   padding:15px;
}

table {
  margin-left:200px;
}

body {
    background-image: url("bge.png");
}

h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 34;
    color:#324F17;
    margin-left:100px;
    margin-bottom:0px;
    padding:0px;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24;
    color:#324F17;
    margin-left:100px;
    margin-bottom:0px;
    padding:0px;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20;
    color:#324F17;
    margin-left:100px;
    margin-bottom:0px;
    padding:0px;
}

h2 {
  font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 36;  
    margin:0px;
    padding:0px;
}
h4 {
  font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 20;  
    margin-top:0px;
    margin-bottom:5px;
    padding:0px;
}

ul li {
  font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 16;  
    margin:0px;
    padding:0px;
}

ul {
  margin:0px;
}

}
