body {
font-family: 'Lato', sans-serif;
font-size: 16px;
background-color: white;
color: #699699;
padding: 3px;
}

.nav .logo {
 font-family: 'Lato', sans-serif;
    padding: 4px;
    color: #00CC66;
    font-size: 50px;
  font-weight: bold;
  margin-left: 20px;
  

}

h1 {
  padding-top: 0px;
  padding-left: 20px;
  padding-bottom: 30px;
  font-size: 50;
}

.row {
  text-align: center;
}


.col-md-6 {
  align-content: center;
  display: block;
}


#personIcon{
    color: #00cc66;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 150px;

}

#senseiIcon{
    color: #00cc66;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 150px;
}

#grasshopperIcon{
    color: #00cc66;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 150px;
}

#eventsIcon{
    color: #00cc66;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 150px;
}

#profileTag {
    font-family: 'Lato', sans-serif;
    border-bottom: 3px solid #xx9900;
    color: #00cc66;
    margin-top: -5px;
}

#senseiTag {
    font-family: 'Lato', sans-serif;
    border-bottom: 3px solid #xx9900;
    color: #00cc66;
    margin-top: -5px;
}

#grasshopperTag {
    font-family: 'Lato', sans-serif;
    border-bottom: 3px solid #xx9900;
    color: #00cc66;
    margin-top: -5px;
}

#eventsTag {
    font-family: 'Lato', sans-serif;
    border-bottom: 3px solid #xx9900;
    color: #00cc66;
    margin-top: -5px;
}


#main {
padding: 5px;
padding-left: 15px;
padding-right: 15px;
background-color:#ffffff;
border-radius: 0 0 5px 5px;
}

h1 {
font-family: 'Lato', sans-serif;
border-bottom: 3px solid #xx9900;
color: #00cc66;
font-size: 50px;
}

th {
text-align: left;
}

ul#menu {
padding: 0;
margin-bottom: 11px;
}

u1#menu li {
display: inline;
margin-right: 3px;
}

img {
    width:120px;
    height:150px;
    padding-top: 20px;
    padding-bottom: 20px;
}
